In [11]:
#Mouting drive for getting access to MyDrive
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

##Importing required Libraries

In [12]:
# Visualization Libraries
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns

#Preprocessing Libraries
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import precision_score, recall_score, confusion_matrix, classification_report, accuracy_score, f1_score

# ML Libraries
from sklearn.ensemble import RandomForestClassifier,VotingClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neural_network import MLPClassifier

# Evaluation Metrics
#from yellowbrick.classifier import ClassificationReport
from sklearn import metrics

##Loading small sample_data for the evaluation of model.

In [13]:
sample_data = pd.read_pickle("drive/My Drive/Colab Notebooks/CMPE_255_Project/Sample_Data_RF1.pkl")

In [14]:
sample_data.head()

         IUCR  Description  ...  zone  Count_CrimeType_Column
6230038     3           66  ...     2                112895.0
6566590    95          348  ...     2               2327482.0
2835911   307          444  ...     3                517088.0
5171670    61           66  ...     2               1640154.0
3509131    85          340  ...     3               2327482.0

[5 rows x 20 columns]

In [15]:
sample_data.shape

(500, 20)

##Run below code for processing data.

In [16]:
# Convert Categorical Attributes to Numerical
for col_name in sample_data.columns:
    if(sample_data[col_name].dtype == 'object'):
        sample_data[col_name]= sample_data[col_name].astype('category')
        sample_data[col_name] = sample_data[col_name].cat.codes

In [17]:
sample_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 500 entries, 6230038 to 5420524
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   IUCR                    500 non-null    int16
 1   Description             500 non-null    int16
 2   Location Description    500 non-null    int16
 3   Arrest                  500 non-null    bool
 4   Domestic                500 non-null    bool
 5   Beat                    500 non-null    int64
 6   District                500 non-null    float64
 7   Ward                    500 non-null    float64
 8   Community Area          500 non-null    float64
 9   FBI Code                500 non-null    int8
 10  Year                    500 non-null    int64
 11  Latitude                500 non-null    float64
 12  Longitude               500 non-null    float64
 13  Month                   500 non-null    int64
 14  Day_num                 500 non-null    int64
 15  Time                    500 non-null    int64
 16  day_of_week             500 non-null    int8
 17  primary_type_grouped    500 non-null    int8
 18  zone                    500 non-null    int8
 19  Count_CrimeType_Column  500 non-null    float64
dtypes: bool(2), float64(6), int16(3), int64(5), int8(4)
memory usage: 52.7 KB

In [18]:
sample_data.head()

         IUCR  Description  ...  zone  Count_CrimeType_Column
6230038     3           66  ...     2                112895.0
6566590    95          348  ...     2               2327482.0
2835911   307          444  ...     3                517088.0
5171670    61           66  ...     2               1640154.0
3509131    85          340  ...     3               2327482.0

[5 rows x 20 columns]

##Run below code for testing RF1 model which has 100% accuracy on sample data.

In [19]:
Features = ["IUCR","Description","FBI Code"]
print('Full Features: ', Features)

target ='primary_type_grouped'

Full Features:  ['IUCR', 'Description', 'FBI Code']

In [20]:
import os
print(os.listdir(r"drive/My Drive/Colab Notebooks/CMPE_255_Project"))

['Chicago_Crime', 'Chicago_Crime_Processed_Data.pkl', 'Sample_Data_RF1.pkl', 'RF1.joblib', 'Sample_Data_Proj.pkl', 'RF2.joblib', 'Dataset_csv_preprocessed']

In [21]:
import joblib

In [22]:
loaded_rf = joblib.load("drive/My Drive/Colab Notebooks/CMPE_255_Project/RF1.joblib")

In [23]:
s_y1 = sample_data[Features]    #Features to test
s_y2 = sample_data[target]      #Target Class to test

In [33]:
sample_y2= loaded_rf.predict(s_y1)

In [41]:
#Testing accuracy
sample_accuracy=accuracy_score(sample_y2, s_y2)
print('Accuracy for testing data for RF1 model on sample data:', sample_accuracy*100, '%.')

Accuracy for testing data for RF1 model on sample data: 100.0 %.

###--------------------------------------------------------------------------------------------------------------------------------------------------------------------------#

##Run below code for RF2 model which had 48% accuracy.

The model RF2.joblib file is 2GB which was very large to upload on github. Please refer below link for the file link.

Link to RF2 model: https://drive.google.com/file/d/1BxHKRGDah_hdhEJ3fGGoH4a_qBH-_T9L/view?usp=sharing

In [26]:
Features_RF2 = ["District","Ward","Community Area","Latitude","Longitude","Month","Year","Time","zone","Location Description","Beat"]
print('Full Features: ', Features_RF2)

target ='primary_type_grouped'

Full Features:  ['District', 'Ward', 'Community Area', 'Latitude', 'Longitude', 'Month', 'Year', 'Time', 'zone', 'Location Description', 'Beat']

In [27]:
import os
print(os.listdir(r"drive/My Drive/Colab Notebooks/CMPE_255_Project"))

['Chicago_Crime', 'Chicago_Crime_Processed_Data.pkl', 'Sample_Data_RF1.pkl', 'RF1.joblib', 'Sample_Data_Proj.pkl', 'RF2.joblib', 'Dataset_csv_preprocessed']

In [28]:
import joblib

In [29]:
loaded_rf2 = joblib.load("drive/My Drive/Colab Notebooks/CMPE_255_Project/RF2.joblib")

In [30]:
sRF2_y1 = sample_data[Features_RF2]    #Features to test
sRF2_y2 = sample_data[target]      #Target Class to test

In [37]:
sampleRF2_y2= loaded_rf2.predict(sRF2_y1)

In [40]:
#Testing accuracy
sampleRF2_accuracy=accuracy_score(sampleRF2_y2, sRF2_y2)
print('Accuracy for testing data for RF2 model on sample data:', sampleRF2_accuracy*100, '%.')

Accuracy for testing data for RF2 model on sample data: 44.800000000000004 %.